@keyframes wiggle {
    0% {
        transform: translate(-10px, 0px)
    }
    25% {
        transform: translate(10px, 0px)
    }
    50% {
        transform: translate(-10px, 0px)
    }
    75% {
        transform: translate(10px, 0px)
    }
    100% {
        transform: translate(0px, 0px)
    }
}

@keyframes turn360 {
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes zoom_in_out {
    25% {
        transform: scale(2);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}