// flex
.flex {
    display: flex;
    &-column {
        display: flex;
        flex-direction: column;
    }
}

._h {
    &-start {
        justify-content: start;
    }
    &-center {
        justify-content: center;
    }
    &-end {
        justify-content: end;
    }
    &-space-around {
        justify-content: space-around;
    }
    &-space-between {
        justify-content: space-between;
    }
}

._v {
    &-center {
        align-items: center;
    }
    &-start {
        align-items: center;
    }
    &-end {
        align-items: center;
    }
    &-baseline {
        align-items: center;
    }
}

//colors
._primary {
    color: $primary;
}

._secondary {
    color: $secondary;
}

._accent {
    color: $accent;
}

._backgorund {
    color: $bckgrnd;
}