.display {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 200px;
    .display_container {
        display: flex;
        justify-content: center;
        span {
            border-bottom: 3px solid $primary;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.5rem;
            height: 3rem;
            margin: 1%;
            color: $primary;
            font-size: 1.5rem;
            font-weight: 600;
            &.hidden {
                background-color: $bckgrnd;
                color: $bckgrnd;
            }
            &.show {
                background-color: white;
            }
        }
        &.wiggle {
            animation: wiggle .5s;
        }
    }
}

@media (max-width: 553px) {
    .display {
        margin-bottom: 1rem;
        margin-top: 130px;
        .display_container {
            span {
                width: 1.5rem;
                height: 1.5rem;
                font-size: 1rem;
            }
        }
    }
}