.image {
    display: flex;
    justify-content: center;
    img {
        height: 200px;
        width: 200px;
    }
}

@media (max-width: 553px) {
    .image {
        img {
            height: 160px;
            width: 160px;
        }
    }
}