.letters {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    grid-gap: 10px;
    justify-content: center;
    margin: 0 5%;
    height: 80%;
    button {
        width: 3rem;
        height: 3rem;
        border-radius: 10px;
        border: 1px solid black;
        color: $bckgrnd;
        font-size: 1.5rem;
        background-color: $primary;
        font-weight: 0;
        &:hover {
            background-color: rgb(201, 201, 201);
            cursor: pointer;
            border: 1px solid black;
        }
        &.touched {
            background-color: rgb(0, 0, 0);
            color: white;
        }
        &.green {
            background-color: $bckgrnd;
            border: none;
            color: $primary;
        }
    }
}

@media (max-width: 553px) {
    .letters {
        display: grid;
        grid-template-columns: 30px 30px 30px 30px 30px 30px;
        justify-content: center;
        button {
            width: 2rem;
            height: 2rem;
            border-radius: 10px;
            font-size: 1rem;
        }
    }
}