.live_bar {
    width: 20%;
    margin: 2rem auto;
    font-size: 2rem;
    span {
        i {
            color: red;
        }
    }
    .heart {
        p {
            color: red;
            font-weight: 600;
        }
    }
}

@media (max-width: 553px) {
    .live_bar {
        margin: 1rem auto;
        font-size: 1.5rem;
    }
}