@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  25% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  50% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  75% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  25% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  50% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  75% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes turn360 {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes turn360 {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes zoom_in_out {
  25% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom_in_out {
  25% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8b31d;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image img {
  height: 200px;
  width: 200px;
}

@media (max-width: 553px) {
  .image img {
    height: 160px;
    width: 160px;
  }
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.display .display_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.display .display_container span {
  border-bottom: 3px solid #1f5397;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.5rem;
  height: 3rem;
  margin: 1%;
  color: #1f5397;
  font-size: 1.5rem;
  font-weight: 600;
}

.display .display_container span.hidden {
  background-color: #f8b31d;
  color: #f8b31d;
}

.display .display_container span.show {
  background-color: white;
}

.display .display_container.wiggle {
  -webkit-animation: wiggle .5s;
          animation: wiggle .5s;
}

@media (max-width: 553px) {
  .display {
    margin-bottom: 1rem;
  }
  .display .display_container span {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }
}

.letters {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 50px 50px 50px 50px 50px;
      grid-template-columns: 50px 50px 50px 50px 50px 50px;
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5%;
  height: 80%;
}

.letters button {
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
  border: 1px solid black;
  color: #f8b31d;
  font-size: 1.5rem;
  background-color: #1f5397;
  font-weight: 600;
}

.letters button:hover {
  background-color: #c9c9c9;
  cursor: pointer;
  border: 1px solid black;
}

.letters button.touched {
  background-color: black;
  color: white;
}

.letters button.green {
  background-color: #f8b31d;
  border: none;
  color: #1f5397;
}

@media (max-width: 553px) {
  .letters {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30px 30px 30px 30px 30px 30px;
        grid-template-columns: 30px 30px 30px 30px 30px 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .letters button {
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    font-size: 1rem;
  }
}

.difficulty_container .difficulty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f8b31d;
}

.difficulty_container .difficulty .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  width: 50%;
}

.difficulty_container .difficulty .logo img {
  height: 100%;
}

.difficulty_container .difficulty .title span {
  font-size: 1.5rem;
  color: #1f5397;
  font-weight: 600;
}

.difficulty_container .difficulty .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  width: 50%;
}

.difficulty_container .difficulty .button button {
  height: 20%;
  width: 40%;
  min-width: 30%;
  margin: 1rem;
  border-radius: 20px;
  color: white;
  background-color: #1f5397;
  font-size: 1.5rem;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
  padding: 0 1rem;
}

.difficulty_container .difficulty .button button:hover {
  cursor: pointer;
  background-color: white;
  color: #1f5397;
}

.difficulty_container .difficulty.hide {
  display: none;
}

@media (max-width: 716px) {
  .difficulty .button button {
    font-size: 1rem;
  }
}

@media (max-width: 553px) {
  .difficulty .button {
    width: 80%;
  }
}

.live_bar {
  width: 20%;
  margin: 2rem auto;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.live_bar .heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.live_bar .heart p {
  color: red;
  font-weight: 600;
}

@media (max-width: 553px) {
  .live_bar {
    margin: 1rem auto;
    font-size: 1.5rem;
  }
}

.win {
  display: none;
}

.win .win_win {
  width: 40%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.win .win_win.zoom_in_out {
  -webkit-animation: zoom_in_out 5s;
          animation: zoom_in_out 5s;
}

.win.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-animation: opacity;
          animation: opacity;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  -webkit-transition: 3s;
  transition: 3s;
  background-color: #f8b31d;
  font-size: 3rem;
  color: #1f5397;
}

@media (max-width: 553px) {
  .win.show {
    font-size: 1.5rem;
  }
}

.end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #f8b31d;
}

.end span {
  font-size: 3rem;
  color: #1f5397;
  font-weight: 600;
}

.end button {
  height: 100px;
  width: 200px;
  margin-top: 2rem;
  border-radius: 20px;
  color: white;
  background-color: #1f5397;
  font-size: 1.5rem;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
  padding: 0 1rem;
}

.end button:hover {
  cursor: pointer;
  background-color: white;
  color: #1f5397;
}

.end.hidden {
  display: none;
}

.load {
  display: none;
}

.load.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-animation: opacity;
          animation: opacity;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  -webkit-transition: 3s;
  transition: 3s;
  background-color: #f8b31d;
  font-size: 3rem;
  color: #1f5397;
}
/*# sourceMappingURL=style.css.map */